// ===== ЦВЕТА =====
$primary-color: hsl(0 0% 98%);
$secondary-color: hsl(240 3.7% 25%);
$background-color: hsl(240 5.9% 10%);
$text-muted: hsl(0 0% 64.9%);
$error-color: hsl(0 62.8% 30.6%);
$success-color: hsl(142 76% 36%);